.header-animation-sp-container h2 {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

.header-animation-sp-container {
  top: 0px;
  left: 0px;
  width: 100%;
  height: inherit;
  /*z-index: 0;*/
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}

.sp-content {
  position: absolute;
  width: inherit;
  height: inherit;
  /*background-color: blue;*/
  /*left: 0px;*/
  /*top: 0%;*/
}

.header-animation-sp-container h2 {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translate(0%, -50%);
  height: fit-content;
  font-size: 90px;
  width: 100%;
  text-align: center;
  color: transparent;
  /*background-color: blue;*/
}

h2.frame-1 span {
  animation: blurFadeInOut 2.5s ease-in backwards;
  -webkit-animation: blurFadeInOut 2.5s ease-in backwards;
  -moz-animation: blurFadeInOut 2.5s ease-in backwards;
  -ms-animation: blurFadeInOut 2.5s ease-in backwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
  /*background-color: blue;*/
  padding: 25px;
}

h2.frame-2 span {
  animation: blurFadeInOut 2.5s ease-in backwards;
  -webkit-animation: blurFadeInOut 2.5s ease-in backwards;
  -moz-animation: blurFadeInOut 2.5s ease-in backwards;
  -ms-animation: blurFadeInOut 2.5s ease-in backwards;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}

.header-animation-sp-container h2.frame-3 {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
}

.header-animation-sp-container h2.frame-3 span {
  -webkit-animation: blurFadeIn 0.5s ease-in 5.5s backwards;
  -moz-animation: blurFadeIn 0.5s ease-in 5.5s backwards;
  -ms-animation: blurFadeIn 0.5s ease-in 5.5s backwards;
  animation: blurFadeIn 0.5s ease-in 5.5s backwards;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
  /*padding: 25px;*/
}

.header-animation-sp-container h2.frame-3 span:nth-child(2) {
  -webkit-animation-delay: 6.3s;
  -moz-animation-delay: 6.3s;
  -ms-animation-delay: 6.3s;
  animation-delay: 6.3s;
}

@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.2);
  }
  20%, 75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    transform: scale(0);
  }
}

@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.2);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
}

@keyframes fadeInBack {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.4;
    transform: scale(2);
  }
  100% {
    opacity: 0.2;
    transform: scale(5);
  }
}

@media (max-width: 560px) {
  .header-animation-sp-container h2 {
    font-size: 50px;
  }
}

