.bubble-footer {
  --footer-background: black;
  display: grid;
  position: relative;
  /*grid-area: "footer";*/
  height: 2px;
  z-index: -1;
}

#bubble-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /*height: 1rem;*/
  background: var(--footer-background);
  filter: url(#blob);
}

.bubble {
  position: absolute;
  left: var(--blob-position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  transform: translate(-50%, 50%);
  animation: bubble-size var(--blob-time, 4s) ease-in infinite var(--blob-delay, 0s), bubble-move var(--blob-time, 4s) ease-in infinite var(--blob-delay, 0s);
}

.bubble-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: var(--footer-background);
  /*z-index: 20;*/
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--blob-size, 4rem);
    height: var(--blob-size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--blob-distance, 10rem);
  }
}

