.before-color-comparison::-webkit-media-controls-panel {
  background-color: var(--bs-danger-bg-subtle);
}

.before-color-comparison-2::-webkit-media-controls-panel {
  background-color: #fccc93;
}

.hide-object {
  display: none;
}

