.sound-wave-container {
  position: relative;
  width: 250px;
  height: 100px;
  /*background-color: black;*/
  /*display: flex;*/
}

.wave-container {
  position: absolute;
}

.wave-container .wave-bar {
  display: inline-block;
  width: 6px;
  height: 60px;
  background-color: #FFF;
  animation: beat1 5s infinite;
  transform-origin: 0 100%;
  transform: scaleY(0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 5px;
}

.wave-container .wave-bar:nth-child(2n) {
  animation-name: beat2;
  animation-duration: 2s;
  animation-delay: 0.2s;
  background-color: white;
}

.wave-container .wave-bar:nth-child(3n) {
  animation-name: beat3;
  animation-delay: 0.5s;
  animation-duration: 3s;
  background-color: #CCC;
}

.wave-container .wave-bar:nth-child(4n) {
  animation-name: beat2;
  animation-delay: 0.4s;
  animation-duration: 3s;
}

.wave-container .wave-bar:nth-child(5n) {
  animation-delay: 0.6s;
}

.wave-container .wave-bar:nth-child(6n) {
  animation-delay: 0.2s;
  background-color: #DDD;
}

.sound-wave-container .flipped {
  transform: rotate(180deg);
  margin-top: 54px;
  transform: rotateX(180deg);
}

@keyframes beat1 {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(0.1);
  }
}

@keyframes beat2 {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0.1);
  }
}

@keyframes beat3 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(0);
  }
}

