.particles-comparison {
  /*width: 100%;*/
  /*position: relative;*/
  /*top: 0px;*/
  /*bottom: 600px;*/
  /*height: 100px;*/
  /*z-index: -1;*/
  /*display: none;*/
}

#particles-comparison {
  width: 100%;
  position: relative;
  /*top: 0px;*/
  bottom: 615px;
  height: 615px;
  margin-bottom: -615px;
  z-index: 0;
  /*pointer-events: auto;*/
  /*display: none;*/
}

.z-index-1 {
  z-index: 1;
}

