@media all and (max-width: 300px) {
  body {
    /*font-size: 14px;*/
  }
}

@media all and (max-width: 500px) {
  .testim .arrow {
    font-size: 1.5em;
  }
}

@media all and (max-width: 500px) {
  .testim .cont div p {
    line-height: 25px;
  }
}

#review-img {
  width: inherit;
  /*align-content: center;*/
}

#p-review {
  margin-left: 150px;
  margin-right: 150px;
}

.fa.fa-star.fa-star {
  color: #ffd700;
  padding-left: 2px;
  padding-top: 4px;
}

#star-container {
  display: inline-flex;
}

#star-rating-number {
  padding-left: 4px;
}

.testimonial-photo {
  width: 85px;
}

.parallax-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

