#text-morp-container {
  /*text-align: center;*/
  /*margin: auto;*/
  /*top: 0;*/
  /*bottom: 0;*/
  position: relative;
  filter: url(#text-morp-threshold) blur(0px);
}

/* Your average text styling */

#text-morp-text1, #text-morp-text2 {
  /*width: 400px;*/
  position: absolute;
  font-size: 50px;
  text-align: center;
  display: inline-block;
  width: fit-content;
  user-select: none;
}

